@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
*,
 ::before,
:after {
    margin: 0;
    padding: 0;
}

:root {
    /* ## Colors */
    /* ### Primary */
    --Moderate-cyan: hsl(176, 50%, 47%);
    --Dark-cyan: hsl(176, 72%, 28%);
    /* ### Neutral */
    --Black: hsl(0, 0%, 0%);
    --Dark-gray: hsl(0, 0%, 48%);
    --card-wrapper-bg: #F5F5F5;
}

h1 {
    /* font-size: 1.2rem; */
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    padding: 1.5em;
}

h2 {
    font-size: 2em;
}

p {
    color: var(--Dark-gray);
}

button {
    border: none;
    cursor: pointer;
    background-color: var(--Moderate-cyan);
    color: #fff;
}

body.no-scroll {
    overflow: hidden;
}

button:hover {
    background-color: var(--Dark-cyan);
}

body {
    font-family: 'Commissioner', sans-serif;
}

main {
    /* width: 375px; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: var(--card-wrapper-bg);
}

header {
    background-image: url(images/image-hero-mobile.jpg);
    height: 40vh;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 1em 0;
}

.menu {
    position: absolute;
    bottom: -30vh;
    left: 10vw;
    right: 10vw;
    background-color: white;
    width: 80vw;
    border-radius: 10px;
    display: none;
    z-index: 4;
    border: 1px solid lightgrey;
    /* overflow: hidden; */
}

.menu__open {
    display: block;
}

.logo {
    z-index: 5;
}

.menu__wrapper {
    z-index: 2;
}

#hamburger__close {
    display: none;
    z-index: 5;
}

#hamburger-btn {
    background-color: transparent;
    width: 15vw;
}

.menu li {
    padding: 1em;
    border-bottom: 1px solid lightgrey;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

li:last-of-type {
    border-bottom: none;
}

.card__wrapper {
    background-color: var(--card-wrapper-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    background-color: white;
    width: 80vw;
    margin-bottom: 1.5em;
    border-radius: 10px;
    padding: 2em 1em;
    transform: translateY(-3em);
}

.card p {
    color: var(--Dark-gray);
    font-weight: 500;
    line-height: 1.5rem;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
}

.first-card {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 8vh;
}

.logo-mastercraft {
    position: absolute;
    top: -2em;
    left: 40vw;
    right: 40vw;
}

.card__btn-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-this-project {
    background-color: var(--Moderate-cyan);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 80%;
    height: 56px;
}

.bookmark {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.bookmark:hover {
    background-color: transparent;
}

.bookmark__span {
    display: none;
}

svg {
    position: relative;
    z-index: 2;
}

svg circle:hover {
    fill: var(--Dark-cyan)
}

svg circle.fill-green {
    fill: var(--Dark-cyan)
}

.second-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
    align-items: center;
}

.second-card__inner p {
    padding-bottom: 1em;
    border-bottom: 1px solid;
}

.days-left p {
    border-bottom: none;
}

.sum-backed,
.total-backed {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
}

progress {
    background-color: var(--card-wrapper-bg);
    border-radius: 10px;
    margin: 0;
    border: none;
    width: 100%;
}

progress::-moz-progress-bar,
progress::-webkit-progress-value {
    background: var(--Moderate-cyan);
    border-radius: 10px;
    width: 100%;
}

.third-card {
    display: grid;
    grid-gap: 2em;
    align-items: center;
}

.inner-card,
.modal__inner-card {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
}

.inner-card__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.modal__inner-card {
    border: none;
}

.inner-card__border.green {
    border: 2px solid hsl(176, 50%, 47%);
}

.inner-card__header {
    display: grid;
    grid-gap: 1em;
}

.inner-card span {
    color: var(--Moderate-cyan);
    font-weight: 500;
}

.items-left {
    display: flex;
    align-items: center;
}

.items-left h5 {
    font-size: 2.5rem;
    margin-right: .2em;
}

.items-left span {
    color: var(--Dark-gray);
}

.inner-card__btn {
    width: 50vw;
    padding: 1.5em;
    border-radius: 25px;
    background-color: var(--Moderate-cyan);
    font-weight: bold;
    color: white;
    font-size: .8rem;
}

.inner-card__btn:disabled {
    background-color: var(--Dark-gray);
    cursor: auto;
}

.mahogany-special-edition__wrapper {
    opacity: 0.4;
    pointer-events: none;
}


/* MODAL  */

.modal {
    position: fixed;
    top: 20vh;
    height: 80vh;
    bottom: 0;
    width: 80vw;
    display: grid;
    place-self: center;
    overflow-y: scroll;
    display: none;
    z-index: 5;
}

.modal__container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
}

.modal__open {
    display: grid;
}

.modal__close-btn {
    cursor: pointer;
}

.modal__header {
    display: flex;
    justify-content: space-between;
}

.inner-card__header,
.modal__inner-card__header {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.modal__inner-card__header {
    display: flex;
    justify-content: space-between;
}

.modal__inner-card__header__items-left {
    display: none;
}

.pledge__span {
    color: var(--Moderate-cyan);
    font-weight: 500;
}

.inner-card.green-border {
    border: 2px solid;
    border-color: var(--Moderate-cyan);
}

input[type="radio"] {
    display: none;
}

.modal__label__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 1px solid lightgrey;
    padding: 2em;
    border-radius: 10px;
}

.modal__label {
    color: black;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    transition: color 0.3s ease;
    transition: color 0.3s ease;
    left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
}

.modal__label::before {
    content: "";
    border-radius: 50%;
    border: 1px solid rgba(50, 50, 50, 0.3);
    height: 1.5rem;
    left: -2.75rem;
    top: 1rem;
    position: absolute;
    width: 1.5rem;
}

.modal__label::after {
    content: "";
    border-radius: 50%;
    height: .9rem;
    left: -2.4rem;
    position: absolute;
    top: 1.35rem;
    transition: 0.3s ease;
    transition: 0.3s ease;
    width: .9rem;
}

.no-reward__label::after {
    top: 0.2rem;
}

.no-reward__label::before {
    top: -0.13rem;
}

form input[type="radio"]:checked+.modal__label__wrapper .modal__label::after {
    background-color: var(--Moderate-cyan);
}

form input[type="radio"]:checked+.modal__label__wrapper {
    border: 2px solid hsl(176, 50%, 47%);
    border-bottom: 1px solid lightgrey;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

form input[type="radio"]:checked+.pledge__span {
    font-weight: 700;
}

form input[type="radio"]:checked~.modal__pledge__dropdown {
    display: flex;
}

.modal__label:hover {
    color: #3cb4ac;
}

.modal__pledge__dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: var(--Dark-gray);
    font-weight: 700;
    display: none;
    padding: 2em;
    border: 2px solid hsl(176, 50%, 47%);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inner-card__pledge-panel,
.bamboo-stand__pledge-panel {
    border-top: lightgrey 1px solid;
    text-align: center;
    display: none;
    grid-gap: 1em;
    padding: 1em;
}

.bamboo-stand__pledge-panel.open-pledge-panel {
    display: grid;
}

.inner-card__pledge-panel__btn-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

input[type="number"] {
    text-align: center;
    width: 20vw;
    border-radius: 25px;
    border: 1px solid lightgrey;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 3vw;
    background-image: url(/images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 2vw 50%;
    ;
}

input[type="number"]:focus {
    outline: 1px solid;
    outline-color: var(--Moderate-cyan);
}

input[type="number"]:hover {
    border: 1px solid;
    border-color: var(--Moderate-cyan);
}

.pledge__btn {
    width: 20vw;
    padding: 1.5em;
    border-radius: 25px;
    background-color: var(--Moderate-cyan);
    font-weight: bold;
    color: white;
    font-size: .8rem;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.popup {
    position: fixed;
    top: 30vh;
    left: 10vw;
    right: 10vw;
    width: 60vw;
    background-color: #fff;
    border-radius: 10px;
    padding: 2em;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    z-index: 99;
    line-height: 2rem;
}

.popup.popup-active {
    display: flex;
}

.popup h6 {
    font-size: 1.2rem;
}

.popup__btn {
    width: 25vw;
    padding: 1em;
    border-radius: 25px;
    font-weight: 700;
}

@media (min-width: 768px) {
    header {
        background-image: url(images/image-hero-desktop.jpg);
        height: 40vh;
        background-size: 100vw 40vh;
        background-repeat: no-repeat;
    }
    nav {
        display: flex;
        justify-content: space-around;
        position: relative;
        padding: 1em 0;
    }
    .logo {
        width: 10vw;
        min-width: 10em;
        height: 30px;
    }
    .menu {
        position: relative;
        bottom: 0;
        left: 0;
        right: none;
        background-color: transparent;
        border-radius: none;
        display: flex;
        z-index: 9;
        border: none;
        overflow: hidden;
        color: #fff;
        justify-content: flex-end;
    }
    .menu li {
        padding: 1em;
        border-bottom: none;
        list-style: none;
        font-size: 1.2rem;
        font-weight: 500;
    }
    #hamburger-btn {
        display: none;
    }
    .card {
        background-color: white;
        width: 60vw;
    }
    .logo-mastercraft {
        left: 50%;
        right: 0;
    }
    .back-this-project {
        width: 30%;
        height: 60px;
    }
    .bookmark__span {
        background-color: var(--card-wrapper-bg);
        padding: 1.5em 3.5em;
        color: var(--Dark-gray);
        font-weight: 700;
        border-radius: 30px;
        transform: translateX(-2.8em);
        z-index: 1;
        display: flex;
    }
    .bookmark__span.green-font {
        color: var(--Dark-cyan);
    }
    svg circle:hover {
        fill: var(--Dark-gray);
    }
    .second-card {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .second-card__inner p {
        padding-bottom: 1em;
        border-bottom: none;
    }
    .total-backed {
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
    }
    .days-left p {
        border-bottom: none;
    }
    progress {
        grid-column: 1/4;
    }
    .inner-card__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: .5em;
    }
    .inner-card__header p {
        width: 100%;
    }
    .inner-card__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .inner-card__btn {
        width: 30vw;
        padding: 0 0;
        max-width: 15em;
    }
    .modal {
        width: 80vw;
        place-self: center;
        overflow-y: scroll;
        z-index: 5;
    }
    .modal__inner-card {
        border-radius: 10px;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr;
    }
    .modal__inner-card__header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .modal__label::before {
        top: 0;
    }
    .modal__label::after {
        top: 0.35rem;
    }
    .modal__label {
        flex-direction: row;
        gap: 1em;
    }
    .modal__inner-card__header__items-left {
        gap: 1em;
        display: flex;
    }
    .modal__inner-card__header__items-left h5,
    .modal__inner-card__header__items-left span {
        font-size: 1rem;
    }
    .modal__pledge__dropdown {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
    }
    .modal__pledge__dropdown span {
        width: 30vw;
    }
    .inner-card__pledge-panel__btn-wrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .pledge__btn {
        width: 10vw;
    }
    input[type="number"] {
        width: 10vw;
        padding: 0 1vw;
    }
    .inner-card {
        grid-gap: 1em
    }
    .inner-card__pledge-panel__btn-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        width: 100%;
    }
    .popup {
        top: 30vh;
        left: 35vw;
        right: 10vw;
        width: 30vw;
    }
    .popup h6 {
        font-size: 1.2rem;
    }
    .popup__btn {
        width: 8em;
        padding: 1em;
        border-radius: 25px;
        font-weight: 700;
    }
}